@import "variables.scss";
@import "general.scss";

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin column-start {
    flex-direction: column;
    align-items: flex-start;
}

@mixin bg-position-size {
    background-position: center;
    background-size: cover;    
}

/* HEADER SECTION */

.header {
    background-color: $black;
    background-image: url("/images/banner.png");
    @include bg-position-size;
    // &::before{
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-image: url("../images/banner.png");
    //     @include bg-position-size;
    //     z-index: -10;
    // }
    padding-top: 200px;
    padding-bottom: 200px;
        
    &-container {

    }

    &-artist {
        // &::before {
        //     background-image: url("../images/Morten Harket.png");
        // }
        background-image: url("/images/Morten Harket.png");
    }

    &-top {
        position: absolute;
        top: -175px;
        left: 0;
    }
}

.top {
    @include flex-center;
    justify-content: space-between;
    width: 100%;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 13px;

    &-menu {
        @include flex-center;
    }
}

.banner {
    @include flex-column;
    align-items: center;

    * {
        margin: 0;
    }

    &-text {
        margin-top: 31px;
        margin-bottom: 17px;
        line-height: 24px;
    }
    
    &-form {
        display: grid;
        grid-template-areas: "col-1 col-2" "col-3 col-3";
        grid-gap: 24px;
        width: 570px;
    }

    &-input {
        min-width: 270px;
        min-height: 50px;
        padding-left: 20px;
        /* margin-bottom: 1rem; */
        border: 2px solid $grey;
        border-radius: 3px;
        background: none;
        color: $white;
        box-sizing: border-box;
    }

    &-artist {
        align-items: flex-start;
    }

    &-buttons {
        display: flex;
    }

    &-btn {
        &-artist {
            display: flex;
            margin-right: 1.5rem;
            align-items: center;
        }

        &-icon {
            margin-right: 16px;
            filter: invert(1);
        }
    }

}

.menu {
    &-items {
        @include flex-center;
    }

    &-item {
        margin-right: 24px;
    }
}

.logo {
    @include flex-center;
    margin-right: 90px;
    &-title {
        margin-left: 16px;
    }
}

.search {
    &-input {
        min-width: 228px;
        padding: 5px 10px;
        border: none;
        border-radius: 50px;
        color: $grey;
        background-color: $dark;
     }
}

.col {
    &-1 {
        grid-area: col-1;
    }

    &-2 {
        grid-area: col-2;
    }

    &-3 {
        grid-area: col-3;
    }
}

/* MAIN SECTION */

.main {
    background-color: $black;
    padding-top: 100px;

    &-title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 45px;
    }

    &-disclaimer {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
    }
}


.bg {
    &-free {
        background-image: url("../images/subscribe_1.png");
        @include bg-position-size;
    }

    &-standart {
        background-image: url("../images/subscribe_2.png");
        @include bg-position-size;
    }
    
    &-premium {
        background-image: url("../images/subscribe_3.png");
        @include bg-position-size;
    }
    
}

.pricing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 0;

    &-item {
        @include flex-column;
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border-radius: 1rem;
    }

    &-title  {
        margin-bottom: 200px;
    }

    &-value {
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin-top: 0;
        margin-bottom: 40px;

        &-count {
            font-size: 64px;
            line-height: 1em;
            margin-right: 16px;        
        }

        &-currency {
            font-size: 32px;
            line-height: 1.5;
            text-transform: uppercase;
        }
    }

    &-link {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        height: 66px;
    }

    &-footer {
        font-size: 13px;
        text-align: center;
        margin-top: 64px;
        margin-bottom: 64px;
        line-height: 1.5;
    }    
}

/* NEWS SECTION */

.news {
    background-color: $black;
    padding-top: 100px;

    &-title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 48px;        
    }
}

.news-item {
    display: flex;
    margin-bottom: 65px;

    &-reverse {
        flex-direction: row-reverse;
    }
    
    &-left {
        margin-right: 50px;
    }

    &-col {
        display: flex;
        flex-direction: column;
        color: $grey;
        line-height: 1.5;
    }

    &-title {
        margin-top: 0;
        margin-bottom: 36px;
        font-size: 30px;
        text-transform: none;
        color: $white;
    }

    &-text {
        margin-bottom: 25px;
    }

    &-description {
        display: flex;
        align-items: center;
        margin-bottom: 48px;
        font-size: 12px;
    }

    &-avatar {
        display: block;
        margin-right: 16px;
    }

    &-author {
        margin-right: 16px;
        text-transform: uppercase;
        color: $orange;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

/*APP SECTION*/

.app {
    background-color: $black;
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: 1.5;


    &-title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 48px;        
    }

    &-content {
        display: flex;
        color: $grey;
    }

    &-col {
        width: 50%;

    }

    &-center {
        display: flex;
        justify-content: center;
    }   
}

/* ARTIST POPULAR TRACKS */

.tracks {
    background-color: $black;
    padding-top: 100px;

    &-content {
        display: grid;
        grid-template-areas: "track-1 track-2" "track-3 track-4" "track-5 track-6";
        column-gap: 50px;
        row-gap: 25px;
    }

    &-title {
        margin: 0;
        margin-bottom: 48px;
    }
}

.track {
    display: flex;
    width: 100%;
    align-items: center;

    &-cover {
        display: block;
        width: 55px;
        height: 55px;
    }

    &-title {
        font-size: 12.8px;
        line-height: 19.2px;
        font-weight: bold;
    }

    &-artist, &-time {
        font-size: 12.8px;
        line-height: 19.2px;
        color: $light-grey;
    }

    &-time {
        margin-left: auto;
    }

    &-info {
        padding-left: 15px;
        * {
            margin: 0;
        }
    }
}

/* ARTIST DISCOGRAPHY */
.discography {
    background-color: $black;
    padding-top: 100px;

    &-title {
        margin: 0;
        margin-bottom: 48px;
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 25px;
    }
}

.album {
    &-title {
        font-size: 18px;
        line-height: 27px;
        font-weight: bold;
        text-transform: capitalize;
    }

    &-cover {
        margin-bottom: 18px;
    }

    &-date {
        color: $light-grey;
    }

    &-info {
        * {
            margin: 0;
        }
    }
}

/* SIMILAR ARTISTS */

.similar {
    background-color: $black;
    padding-top: 100px;
    padding-bottom: 100px;

    &-title {
        margin: 0;
        margin-bottom: 48px;
    }
    
    &-content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 25px;
    }
}

.artist {
    &-title {
        font-size: 18px;
        line-height: 27px;
        font-weight: bold;
        text-transform: capitalize;
    } 

    &-image {
        margin-bottom: 18px;
    }

    &-fans {
        color: $light-grey;
    }

    &-info {
        text-align: center;
        line-height: 1.5;
        * {
            margin: 0;
        }
    }
}


/* FOOTER SECTION */

.footer {
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
        z-index: -10;
    }

    &-line {
        border-bottom: 1px solid $grey;
    }

    &-top {
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        position: relative;
    }

    &-bottom {
        padding-top: 2rem;
        padding-bottom: 2rem;

        &-items {
            display: flex;
        }

        &-item {
            margin-right: 16px;
        }
    }

    &-col {
        &-title {
            font-size: 18px;
            line-height: 27px;
            font-weight: bold;
            text-transform: uppercase;
        }

        &-items {
            line-height: 1.5;
        }
    }

    &-social {
        &-link {
            margin-right: 24px;
        }
    }
}

@media screen and (max-width: 1239px) {
    .top {
        @include column-start;
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu {
        @include column-start;

        &-items {
            @include column-start;
            padding: 0;
            margin-top: 18px;
            margin-bottom: 18px;
        }

        &-item {
            margin-bottom: 3px;
        }
    }

    .search {
        align-self: stretch;

        &-input {
            width: calc(100% - 20px);
        }
    }

    .banner {
        padding-top: 250px;

        h1 {
            text-align: center;
        }

        &-text {
            margin-top: 16px;
            text-align: center;

            &-artist {
                margin-top: 16px;
                margin-bottom: 48px;
            }
        }

        &-form {
            grid-template-areas:
            "col-1 col-1"
            "col-2 col-2"
            "col-3 col-3";
            max-width: 100%;
            width: 100%;
        }
        
        &-artist {
            padding-top: 225px;
            padding-bottom: 225px;
        }

        &-buttons {
            flex-direction: column;
        }

        &-btn {
            &-artist:first-child {
                margin-bottom: 24px;
            }
        }
    }

    .pricing {
        display: flex;
        flex-direction: column;
    }
      

    .news-item {
        flex-direction: column;
        margin-bottom: 50px;

        &-reverse {
            flex-direction: column;
        }

        &-left {
            margin-right: 0;
        }

        &-title {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 16px;
        }
    }

    .app {
        &-content {
            flex-direction: column-reverse;
        };

        &-col {
            width: 100%;
        }

    }

    .footer {
        &-top {
            display: flex;
            flex-direction: column;
            position: relative;
        }
        
        &-bottom {
            &-items {
                flex-direction: column;
            }
            
            &-item {
                margin-bottom: 16px;
                line-height: 1.5;
            }
        }
    }

    .tracks {
        background-color: $black;
        padding-top: 100px;
    
        &-content {
            display: flex;
            flex-direction: column;
           
        }
    }

    .album {
        width: 137px;
   
        &-cover {
            width: 137px;
            height: 137px;
        }
    }

    .artist {
        width: 137px;
   
        &-image {
            width: 137px;
            height: 137px;
        }
    }
}