@import "variables.scss";
@import "general.scss";

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

.header::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
    z-index: -10;
 }

 .header-menu {
    @include flex-center;
    justify-content: space-between;
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 13px;
 }

 .menu, .logo, .menu-items {
    @include flex-center;
 }

 .logo-title {
     margin-left: 16px;
 }

 .menu-item {
     margin-right: 24px;
 }

 .search-input {
    min-width: 228px;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    color: $grey;
    background-color: $dark;
 }

 .header-banner {
    @include flex-column;
     align-items: center;
     padding-top: 200px;
     padding-bottom: 200px;
 }

 .header-banner * {
     margin: 0;
 }

.header-banner-text {
    margin-top: 31px;
    margin-bottom: 17px;
    line-height: 24px;
}

.header-banner-form {
    display: grid;
    grid-template-areas: "col-1 col-2" "col-3 col-3";
    grid-gap: 24px;
    max-width: 570px;
}

.col-1 {
    grid-area: col-1;
}

.col-2 {
    grid-area: col-2;
}

.col-3 {
    grid-area: col-3;
}

.header-banner-input {
    min-width: 270px;
    min-height: 50px;
    padding-left: 20px;
    // margin-bottom: 1rem;
    border: 2px solid $grey;
    border-radius: 3px;
    background: none;
    color: $white;
    box-sizing: border-box;
}

.header-banner-btn {
    min-height: 57px;
    padding: 20px 30px;
    background-color: $green;
    color: $white;
    border: none;   
}

@media screen and (max-width: 1239px) {
    .header-menu, .menu {
       flex-direction: column;
       align-items: flex-start;
    }

    .header-menu {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu-items {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin-top: 18px;
        margin-bottom: 18px;
    }

    .menu-item {
        margin-bottom: 3px;
    }

    .search {
        align-self: stretch;
    }

    .search-input {
        width: calc(100% - 20px);
    }

    .header-banner {
        padding-top: 250px;

        h1 {
            text-align: center;
        }
    }
    
    .header-banner-text {
        margin-top: 16px;
        text-align: center;
    }
    .header-banner-form {
        grid-template-areas:
            "col-1 col-1"
            "col-2 col-2"
            "col-3 col-3";
        max-width: 100%;
        width: 100%;
    }
    
}