@import "variables.scss";
@import "general.scss";

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin column-start {
    flex-direction: column;
    align-items: flex-start;
}

@mixin bg-position-size {
    background-position: center;
    background-size: cover;    
}

.header {
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/banner.png");
        @include bg-position-size;
        z-index: -10;
    }

    &-top {
        position: absolute;
        top: 25px;
        left: 0;
    }
}

.top {
    @include flex-center;
    justify-content: space-between;
    width: 100%;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 13px;

    &-menu {
        @include flex-center;
    }
}

.banner {
    @include flex-column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;

    * {
        margin: 0;
    }

    &-text {
        margin-top: 31px;
        margin-bottom: 17px;
        line-height: 24px;
    }
    
    &-form {
        display: grid;
        grid-template-areas: "col-1 col-2" "col-3 col-3";
        grid-gap: 24px;
        max-width: 570px;
    }

    &-input {
        min-width: 270px;
        min-height: 50px;
        padding-left: 20px;
        /* margin-bottom: 1rem; */
        border: 2px solid $grey;
        border-radius: 3px;
        background: none;
        color: $white;
        box-sizing: border-box;
    }
}


.btn {
    display: block;
    padding: 20px 30px;
    color: $white;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px; 

    &-green {
        min-height: 57px;
        background-color: $green;
        border: none;
    }

    &-transparent {
        border: 1px solid $white;
        border-radius: 5px;
    }

    &-news {
        width: max-content;
        padding: 16px 30px;
        font-size: 13px;
        color: $grey;
        line-height: 1.5;
        border: 1px solid $grey;
    }
}

.menu {
    &-items {
        @include flex-center;
    }

    &-item {
        margin-right: 24px;
    }
}

.logo {
    @include flex-center;
    &-title {
        margin-left: 16px;
    }
}

.search {
    &-input {
        min-width: 228px;
        padding: 5px 10px;
        border: none;
        border-radius: 50px;
        color: $grey;
        background-color: $dark;
     }
}

.col {
    &-1 {
        grid-area: col-1;
    }

    &-2 {
        grid-area: col-2;
    }

    &-3 {
        grid-area: col-3;
    }
}

/* MAIN SECTION */

.main {
    background-color: $black;
    padding-top: 100px;

    &-title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 45px;
    }

    &-disclaimer {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
    }
}


.bg {
    &-free {
        background-image: url("../images/subscribe_1.png");
        @include bg-position-size;
    }

    &-standart {
        background-image: url("../images/subscribe_2.png");
        @include bg-position-size;
    }
    
    &-premium {
        background-image: url("../images/subscribe_3.png");
        @include bg-position-size;
    }
    
}

.pricing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 0;

    &-item {
        @include flex-column;
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border-radius: 1rem;
    }

    &-title  {
        margin-bottom: 200px;
    }

    &-value {
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin-top: 0;
        margin-bottom: 40px;

        &-count {
            font-size: 64px;
            line-height: 1em;
            margin-right: 16px;        
        }

        &-currency {
            font-size: 32px;
            line-height: 1.5;
            text-transform: uppercase;
        }
    }

    &-link {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        height: 66px;
    }

    &-footer {
        font-size: 13px;
        text-align: center;
        margin-top: 64px;
        margin-bottom: 64px;
        line-height: 1.5;
    }    
}

/* NEWS SECTION*/

.news {
    background-color: $black;
    padding-top: 100px;

    &-title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 48px;        
    }
}

.news-item {
    display: flex;

    &-reverse {
        flex-direction: row-reverse;
    }
    
    &-left {
        margin-right: 50px;
    }

    &-col {
        display: flex;
        flex-direction: column;
        margin-bottom: 65px;
        color: $grey;
        line-height: 1.5;
    }

    &-title {
        margin-top: 0;
        margin-bottom: 36px;
        font-size: 30px;
        text-transform: none;
        color: $white;
    }

    &-text {
        margin-bottom: 25px;
    }

    &-description {
        display: flex;
        align-items: center;
        margin-bottom: 48px;
        font-size: 12px;
    }

    &-avatar {
        display: block;
        margin-right: 16px;
    }

    &-author {
        margin-right: 16px;
        text-transform: uppercase;
        color: $orange;
    }
}


@media screen and (max-width: 1239px) {
    .top {
        @include column-start;
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu {
        @include column-start;

        &-items {
            @include column-start;
            padding: 0;
            margin-top: 18px;
            margin-bottom: 18px;
        }

        &-item {
            margin-bottom: 3px;
        }
    }

    .search {
        align-self: stretch;

        &-input {
            width: calc(100% - 20px);
        }
    }

    .banner {
        padding-top: 250px;

        h1 {
            text-align: center;
        }

        &-text {
            margin-top: 16px;
            text-align: center;
        }

        &-form {
            grid-template-areas:
            "col-1 col-1"
            "col-2 col-2"
            "col-3 col-3";
            max-width: 100%;
            width: 100%;
        }
    }

    .pricing {
        display: flex;
        flex-direction: column;
    }
      

    .news-item {
        flex-direction: column;
    
        &-reverse {
            flex-direction: column;
        }
        
        &-col {
            margin-bottom: 50px;
        }

        &-left {
            margin-right: 0;
        }

        &-title {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 16px;
        }
    }
}