@font-face {
    font-family: Roboto;
    font-weight: bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto;
    font-weight: normal;
    src: url(../fonts/Roboto-Regular.ttf);
}

@mixin headers {
    font-weight: bold;
    text-transform: uppercase;
}

body {
    font-family: Roboto, sans-serif;
    color: $white;
    margin: 0;
}

ul {
    padding: 0;
}

.section {
    position: relative;
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.link {
    color: $light-grey;
    text-decoration: none;
    &:hover {
        color: $white;
    }
    &-active {
        color: $white;
    }
}

.btn {
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px; 
}

h1 {
    font-size: 60px;
    line-height: 90px;
    @include headers;
}

h2 {
    font-size: 38px;
    line-height: 57px;
    @include headers;
}

h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

@media screen and (max-width: 1239px) {
    h1 {
        font-size: 30px;
        line-height: 45px;
    }
    
    h2 {
        font-size: 18px;
        line-height: 27px;
    }

    h3 {
        font-size: 16px;
        line-height: 1.5;
    }

    .container {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}